@tailwind base;
@tailwind components;
@tailwind utilities;

header {
  background-color: #ffffff;
  padding: 1rem;
  padding-top: 0.5rem; 
  padding-bottom: 0.5rem;
}

body {
  background-color: #d5d3d3; 
  color: #ffffff; 
}
